extends ../layout/common.pug

block content
	h1 Product
	a.btn.btn-success(href="/users/create") New
	form(action="/users/search", method="GET")
		input(type="text" name="q")
		button(type="button" class="btn btn-success ml-2") Search
	.card(style='width: 18rem;')
			each product in products
				ul.list-unstyled
					li
						img.card-img-top(src=product.image, alt='Card image cap')
						.card-body
							h5.card-title + product.name


					
				
			
		
				
				p.card-text Some quick example text to build on the card title and make up the bulk of the card
				a.btn.btn-primary(href='#') Go somewhere


		




